@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-industrial-50 text-industrial-900;
  }
}

/* Custom Scrollbar for industrial feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-industrial-300 rounded hover:bg-industrial-400 transition-colors;
}
